body {
  background-image: url('/static/assets/background.jpg');
  font-family: 'Righteous', cursive;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 170%;
}

.btn {
  background-color: #95c5d6;
  border-width: 0.15em;
  margin: 0.5em;
}
