<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hangman</title>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- CSS and JS -->
    <link href="/static/index.css" rel="stylesheet" />
    <script src="/static/index.js"></script>
    <script>
      // Alphabet Buttons
      $(function(){
        for (let i = 97; i < 123; i++){
          let char = String.fromCharCode(i);
          let html = `<button type="button" id=${char} class="btn btn-outline-primary clickable">${char}</button>`;
          $("#alphabets").append(html);
        };
      });
    </script>

    <div class="container pt-3">
      <div class="row text-center">
        <div class="col-sm-12 text-center">
          <h1>HANGMAN</h1>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm-12 text-center">
          <span>Category:</span>
          <span id="hint"></span>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm-12 text-center">
          <h2 id="result"></h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm-12 text-center">
          <span>Remaining Life:</span>
          <span id="life">5</span>
          <img id="hangman" src="/static/assets/hangmanl_5lives.png" width="250px" height="250px"/>
        </div>
      </div>

      <div class="row-text-center">
        <div class="col-sm-1212 text-center">
          <p id="blanks"></p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center" id="alphabets"></div>
      </div>
    </div>
  </body>
</html>